@font-face {
	font-family: 'zeldadxt';
  src: url(fonts/zeldadxt.ttf) format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'zeldadxt';
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: linear-gradient(
    102.4deg,
    rgba(253, 189, 85, 1) 7.8%,
    rgba(249, 131, 255, 1.0) 100.3%
  );
  width: 100vw;
  height: 100vh;
}

.tc__main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.tc__main h1 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  color: #ff5858;
}

.tc__main h1 span {
  font-size: 2rem;
}

.tc__container {
  background-color: #fff;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 20px;
  box-shadow: 0px 0px 50px rgba(145, 145, 145, 0.8);
  margin-bottom: 1rem;
}

.tc__left-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
}

.align {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.align label {
  text-transform: uppercase;
  padding-bottom: 10px;
  background-color: #fff;
  color: #929292;
}

.align input {
  width: 18rem;
  height: 4rem;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 0px 0px 6px rgba(77, 77, 77, .25);
}

.align input:nth-of-type(1) {
  text-align: right;
  padding-right: 10px;
  font-size: 25px;
  font-weight: 600;
  color: #f8a9a9;
}

.bill-value {
  background-image: url(Assets/dollar-sign.svg);
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: 5%;
  padding-left: 20px;
}

.tip-value {
  background-image: url(Assets/percent-sign.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 5%;
  padding-left: 20px;
}

.people-value {
  background-image: url(Assets/person-sign.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 5%;
  padding-left: 20px;
}

.tc__right-side {
  background-color: #f8a9a9;
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.28);
  border-radius: 20px;
}